{% extends 'base.html' %}

{% block content %}
<div class="input-group mb-3">
    <input type="text" class="form-control" name="query" id="query" placeholder="Enter a keyword to search..."
        value="{{ query }}" autofocus>
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
</div>

{% if results %}
<div class="row mb-3">
    <div class="col-2 mt-2">
        <p><a href="javascript:history.back(1)">← Back</a></p>
        {% for agg in aggs %}
        <h6 class="mt-3">{{ agg }}</h6>
        {% for key, count in aggs[agg].items() %}
        <form method="POST">
            <input type="hidden" name="query" value="{{ agg|lower }}:{{key}} {{ query }}">
            <button type="submit" class="btn btn-link btn-sm" {% if aggs[agg]|length==1 %} disabled{% endif %}>{{ key }}
                ({{ count }})</button>
        </form>
        {% endfor %}
        {% endfor %}
    </div>
    <div class="col-10">
        <div class="row mb-3">
            <div class="col-sm-auto my-auto">
                Showing results {{ from_ + 1 }}-{{ from_ + results|length }} out of {{ total }}.
            </div>
            {% if from_ > 0 %}
            <div class="col-sm-auto my-auto">
                <a href="javascript:history.back(1)" class="btn btn-primary">← Previous page</a>
            </div>
            {% endif %}
            {% if from_ + results|length < total %} <div class="col-sm-auto my-auto">
                <form method="POST">
                    <input type="hidden" name="query" value="{{ query }}">
                    <input type="hidden" name="from_" value="{{ from_ + results|length }}">
                    <button type="submit" class="btn btn-primary">Next page →</button>
                </form>
        </div>
        {% endif %}
        <div class="col"></div>
    </div>
    {% for result in results %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('get_document', id=result._id) }}">{{ result._source.title
                    }}</a></h5>
            <p class="card-text">
            <div class = "content" style="
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                ">
                {{ result._source.content }}
            </div>
            </p>
            <p class="card-text"><small class="text-muted">{% if result._score %}(Score: {{ result._score }}){% endif
                    %}</small></p>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% elif request.method == 'POST' %}
<p>No results found.</p>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var keyword = "{{ query }}";  // 获取搜索关键词
        $(".card-text").each(function () {
            var text = $(this).html();
            var regEx = new RegExp(keyword, "ig");  // 创建正则表达式
            var highlightedText = text.replace(regEx, "<span style='color:red'>" + keyword + "</span>");  // 替换关键词
            $(this).html(highlightedText);  // 更新文本
        });
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var keyword = "{{ query }}";  // 获取搜索关键词
        $(".content").each(function () {
            var text = $(this).text();
            var regEx = new RegExp(keyword, "ig");  // 创建正则表达式
            var highlightedText = text.replace(regEx, "<span style='color:red'>" + keyword + "</span>");  // 替换关键词
            $(this).html(highlightedText);  // 更新文本
        });
    });
</script>


{% endblock %}